*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#222;
    padding:15px 0;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:90%;
    margin:auto;
}

nav h2{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:orange;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:linear-gradient(to right,#4facfe,#00f2fe);
    color:white;
    text-align:center;
}

.hero h1{
    font-size:3rem;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:10px 20px;
    background:#222;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:orange;
}

section{
    padding:60px 10%;
}

section h2{
    margin-bottom:20px;
    text-align:center;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.skill{
    background:#222;
    color:white;
    padding:15px 25px;
    border-radius:5px;
}

.project-card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.project-card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .hero h1{
        font-size:2rem;
    }
}